
body {
    height: 100vh;

    background: rgb(108,236,244);
    background: linear-gradient(0deg, rgba(108,236,244,1) 0%, rgba(245,127,204,1) 70%);
}

.container {
    height: 500px; 

    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator__block {
    height: 400px;
    background: rgba(255, 253, 253, 0.664);

    padding: 20px 30px;
}

@media (min-width: 768px) {
    .container {
        height: 1000px;
    }

    .calculator__block {
        height: 550px;
    }
}

@media (min-width: 1024px) {
    .container {
        height: 1200px;
    }

    .calculator__block {
        height: 650px;
    }
}

@media (min-width: 1200px) {
    .container {
        height: 100vh;
    }
}